language: node_js
node_js:
- "8"
before_install:
  - export CHROME_BIN=chromium-browser
  - export FIREFOX_BIN=firefox
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
after_failure:
  - cat /home/travis/.npm/_logs/*.log
install:
  - npm install

script:
  - npm run test:server
  - npm run test:ui

deploy:
  provider: script
  script:
    - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD" js2018group2.azurecr.io
    - docker build -t js2018group2.azurecr.io/group2 .
    - docker push js2018group2.azurecr.io/group2
  on:
    branch: feature-8-azure
