<p>Text to Plot.</p>
<hr>
<div>
  <div id="selectBox">
    <select  class="form-control" [(ngModel)]="dataset">
      <option *ngFor="let x of datasets" [ngValue]="x" [selected]="x.id === 0">{{ x.name }}</option>
    </select>
  </div>
  <hr>
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-4" style="margin-right: 5px">
      <div class="row">
        <app-text-input #textInput
                        id="text-input"
                        (plot)="plotGraph()">
        </app-text-input>
      </div>
      <div class="row" style="margin-top: 20px">
        <button id="plotButton"
                class="btn btn-md btn-success"
                type="button"
                (click)="plotGraph()"
                [disabled]="shouldDisablePlotButton()">
          <i class="fa fa-chart-line"></i> Plot
        </button>
      </div>
    </div>
    <div class="col-4" style="margin-left: 5px">
      <div class="row">
        <app-text-input #textInputUpdate
                        id="text-input-update"
                        (plot)="updateGraph()">
        </app-text-input>
      </div>
      <div class="row" style="margin-top: 20px">
        <button id="updateButton"
                class="btn btn-md btn-warning"
                type="button"
                (click)="updateGraph()"
                [disabled]="shouldDisablePlotButton()">
          <i class="fa fa-chart-line"></i> Update
        </button>
      </div>
    </div>
    <div class="col-2">

    </div>
  </div>
  <hr>
  <div id="buttons" class="row" style="padding: 20px">


    <button id="resetButton"
            class="btn btn-md btn-danger"
            type="button"
            (click)="clearAll()"
            [disabled]="shouldDisableClearButton()">
      <i class="fa fa-redo"></i> Clear
    </button>
  </div>
</div>
<app-chart #chart
           [data]="data"
           [layout]="layout"
           [options]="options" >
</app-chart>
