.button{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    /*padding: 20px;*/
}

.textinput {
    margin-right: 5px;
}

#plotButton {
    width:100px;
    margin-right: 10px;
}

#resetButton {
    width:100px;
}

#selectBox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#selectBox > select {
    width: 200px;
}

.column-box {
    text-align: center;
    padding: 2px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: lightgrey;
    margin: 2px 2px 2px 2px;
    font-family: monospace;
}

#row-box {
    place-content: center;
    text-align: center;
}
#error {
    border: 1px solid darkred;
    margin: 20px 20px 20px 20px;
}
