<p>Very simple setup.</p>
<div>
  <div id="selectBox">
    <select  class="form-control" [(ngModel)]="dataset">
      <option *ngFor="let x of datasets" [ngValue]="x" [selected]="x.id === 0">{{ x.name }}</option>
    </select>
  </div>
  <div>
    <app-text-input #textInput
                    id="text-input"
                    (plot)="plotGraph()">
    </app-text-input>
  </div>
  <div id="buttons">
    <button id="plotButton"
            class="btn btn-md btn-success"
            type="button"
            (click)="plotGraph()"
            [disabled]="shouldDisablePlotButton()">
      <i class="fa fa-chart-line"></i> Plot
    </button>
    <button id="resetButton"
            class="btn btn-md btn-danger"
            type="button"
            (click)="clearAll()"
            [disabled]="shouldDisableClearButton()">
      <i class="fa fa-redo"></i> Clear
    </button>
  </div>
</div>
<app-chart #chart>
</app-chart>
