.button{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.textinput {
    margin-right: 5px;
}

#plotButton {
    width:100px;
    margin-right: 10px;
}

#resetButton {
    width:100px;
}

#selectBox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#selectBox > select {
    width: 200px;
}

.column-box {

    padding: 2px;
    border: 1px solid blue;
    box-sizing: border-box;
    background-color: lightgrey;
    margin: 2px 2px 2px 2px;
}

#row-box {

    margin-left: 5%;
}
