.button{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    /*padding: 20px;*/
}

.textinput {
    margin-right: 5px;
    margin-left: 35px;
}
label{
    margin-top: 5px;
    color: white;
}

#plotButton {
    width:100px;
    margin-right: 10px;
}

#resetButton {
    width:100px;
}

#selectBox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#selectBox > select {
    width: 200px;
}

.column-box {
    font-size: 12px;
    text-align: center;
    padding: 2px;
    border: 1px solid white;
    box-sizing: border-box;
    background-color: #f48642;
    border-radius: 8px;
    margin: 2px 2px 2px 2px;
}

#row-box {
    place-content: center;
    text-align: center;
}
.msg-div {
    margin: 150px 20px 20px 20px;
}
.display-container{
    width: 840px;
    height: 560px;
    border: solid white 2px;
    margin-left: 300px;
}
.plot-div{
    text-align: center;
}
