<form class="uploadForm"
      [formGroup]='statusFormGroup'
      #statusNgForm='ngForm'
      (submit)='handleSubmit($event, statusNgForm, statusFormGroup)'
      style="text-align: left;">
    <input #myInput
           type="file"
           id="file"
           name="fileItem"
           accept=".csv"
           (change)="handleFileInput($event.target.files)"
           style="width: 225px; margin-top: 5px;">
    <button type='submit'
            class='btn btn-sm btn-primary'
            [disabled]='this.fileSelected'>
        <i class="fa fa-upload"></i>
    </button>
</form>