<form class="uploadForm"
      [formGroup]='statusFormGroup'
      #statusNgForm='ngForm'
      (submit)='handleSubmit($event, statusNgForm, statusFormGroup)'>
    <input #myInput
           type="file"
           id="file"
           name="fileItem"
           accept=".csv"
           (change)="handleFileInput($event.target.files)">
    <button type='submit'
            class='btn btn-sm btn-primary'
            [disabled]='this.fileSelected'>
        <i class="fa fa-upload"></i>
    </button>
</form>