<div class="row">
    <div class="col-1">
    </div>
    <div class="col-4" style="text-align: left">
        <h2>Sample NLP Commands for Ploting</h2>
        <h3>CORE_DATASET</h3>
        <ul>
            <li>Plot histogram of employee’s age.</li>
            <li>Plot number of employees for each gender as a pie chart.</li>
            <li>Plot number of employees for each gender as a pie chart for all departments.</li>
            <li>Plot average pay rate of each race as a bar chart.</li>
            <li>Plot number of employees hired each year as a line chart.</li>
            <li>Make a scatter plot with age and pay rate.</li>
        </ul>
        <h3>INDICATOR_DATASET</h3>
        <ul>
            <li>Plot the histogram of Urban population (% of total) in the year 2010.</li>
            <li>Plot the life expectancy at birth for male and female each year as a line chart for Germany.</li>
            <li>Make a scatter plot of countries with birth rate and GDP per capita as two axises.</li>
            <li>Plot the CO2 emissions from gaseous fuel, liquid fuel and solid fuel as a pie chart for each country.</li>
        </ul>
    </div>
    <div class="col-1">
    </div>
    <div class="col-5" style="text-align: left">
        <h2>Sample NLP Commands for Updating</h2>
        <h3>General</h3>
        <ul>
            <li>Change title to 'hello world'</li>
            <li>Hide/Show legend</li>
            <li>Hide/Show x/y/z/xaxis/yaxis/zaxis gridline</li>
            <li>Change legend position to 1,0.5</li>
            <li>Change legend size to 14</li>
            <li>Change x/y/z/xaxis/yaxis/zaxis title to 'new title'</li>
            <li>Change x/y/z/xaxis/yaxis/zaxis range from 0 to 10</li>
        </ul>
        <h3>Pie Chart</h3>
        <ul>
            <li>Display as absolute</li>
            <li>Display as percentage</li>
            <li>Change color of Residential, Non_Residential, Utility to green, blue, red</li>
        </ul>
        <h3>Scatter Plot</h3>
        <ul>
            <li>Change marker symbol to circle/square/diamond/cross/pentagon/hexagon/octagon/star/hexagram</li>
            <li>Use star symbol</li>
            <li>Use star symbol for Data_1</li>
            <li>Star Data_1</li>
            <li>Change marker size to 12</li>
            <li>Increase/Decrease/Reduce marker size by 50%</li>
            <li>Change marker opacity to 70%</li>
            <li>Change marker color to red</li>
            <li>Change line color to red</li>
            <li>Change line width to 4</li>
            <li>Use dash/solid line</li>
            <li>Hide/Show line</li>
        </ul>
    </div>
    <div class="col-1">
    </div>
</div>

