<div style="text-align: center; color: white; padding-top: 20px;">
    <div class="row">
        <div class="col-6" style="text-align: right">
            <img src="assets/logo.png" alt="Smiley face">
        </div>
        <div class="col-6">
            <div class="row">
                <span style="font-size: 32px;">iGraph</span>
            </div>
            <div class="row">
                <span>Text to Plot</span>
            </div>
        </div>

    </div>
    <spinner [backgroundColor]="'#ff0000'"
             [spinner]="spinkit.skWave"
             [debounceDelay]="200">

    </spinner>
    <app-home></app-home>
</div>
